@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-white-100: hsl(0, 100%, 100%);

  --cls-black-700: hsl(0, 0%, 7%);
}

*::before,
*,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}
